
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    position: absolute;
}
h1{
    font-size: 100px;
    text-align: center;
    color: blue;
    position: relative;
    font-family: fantasy;
    background-color: white;
    height: 120px;
    margin-top: 0px;
    line-height: 120px;
    letter-spacing: 8px;
    top: 90px;
}
main{
    position: relative;
    top: 250px;
}
.first{
    position: relative;
    margin-left: 40px;
    top: 270px;
    font-size: 20px;
    color: rgb(56, 56, 56);
}
.prin01{
    background-color: white;
    width: 620px;
    height: 380px;
    padding: 5px 20px 20px 20px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
div > strong{
    color: rgb(45, 45, 255);
    font-size: 15px;
}
.st01:hover+span{
    display: block;
}
.st01{
    width: 115px;
}
.st01+span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 140px;
    width: 200px;
    float: right;
    right: 238px;
    bottom: 20px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.st02:hover+span{
    display: block;
}
.st02{
    width: 93px;
}
.st02+span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 140px;
    width: 220px;
    float: right;
    right: 240px;
    bottom: 20px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.st001{
    width: 115px;
}
.st001+span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 130px;
    width: 200px;
    float: right;
    right: 252px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.st001:hover+span{
    display: block;
}
.st002{
    width: 344px;
}
.st002+span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 40px;
    width: 170px;
    float: right;
    right: 54px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.st002:hover+span{
    display: block;
}
.st003{
    width: 185px;
}
.st003+span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 60px;
    width: 200px;
    float: right;
    right: 184px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.st003:hover+span{
    display: block;
}
.st004{
    width: 282px;
}
.st004+span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 60px;
    width: 200px;
    float: right;
    right: 86px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.st004:hover+span{
    display: block;
}
.st005{
    width: 192px;
}
.st005+span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 60px;
    width: 200px;
    float: right;
    right: 178px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.st005:hover+span{
    display: block;
}
.prin01 > h2{
    font-size: 20px;
    margin-left: 40px;
}
.prin01 > div{
    width: 350px;
    height: 30px;
    line-height: 30px;
    margin-left: 50px;
}
.prin01 > input{
    margin-left: 50px;
    background-color: rgba(173, 216, 230, 0.377);
    height: 50px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-width: 0px;
}
.prin02{
    background-color: white;
    width: 633px;
    height: 280px;
    position: relative;
    top: 10px;
    padding: 5px 20px 20px 20px;
    margin-left: 5px;
}
.prin02 > h2{
    font-size: 20px;
    margin-left: 40px;
}
.prin02 > div{
    height: 35px;
    line-height: 35px;
    margin-left: 50px;
}
.prin02 > input{
    margin-left: 50px;
    background-color: rgba(173, 216, 230, 0.377);
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-width: 0px;
}
#cal{
    width: 120px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    top: 300px;
    margin-left: 40px;
}
#cal:hover{
    background-color: rgb(0, 0, 140);
}
#limp{
    width: 120px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    top: 300px;
    margin-left: 50px;
}
#limp:hover{
    border-width: 1px;
    border-color: black;
}
.prin03{
    background-color: white;
    padding: 15px 0px 0px 50px;
    position: relative;
    margin: 15px;
    border-radius: 10px;
    top: 300px;
}
#r2{
    top: 650px;
    margin-top: 50px;
    display: none;
}
#r1{
    margin-top: 50px;
    display: none;
}
article>p{
    font-size: 20px;
}
td{
    height: 40px;
    width: 400px;
    padding-left: 8px;
    outline: solid 1px rgba(173, 216, 230, 0.377);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}
.desc{
    background-color: rgba(173, 216, 230, 0.377);
    text-align: center;
    outline: solid 2px rgba(173, 216, 230, 0.377);    
}
#cal2{
    width: 120px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    top: 300px;
    margin-left: 40px;
    margin-top: 20px;
}
#cal2:hover{
    background-color: rgb(0, 0, 140);
}
#limp2{
    width: 120px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    top: 300px;
    margin-left: 50px;
}
#limp2:hover{
    border-width: 1px;
    border-color: black;
}
.info01{
    position: relative;
    height: 130px;
    width: 250px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 0px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 870px;
    bottom: 30px;
}
.info02{
    position: relative;
    height: 140px;
    width: 600px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 0px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 400px;
    bottom: 30px;
}
.info03{
    position: relative;
    height: 100px;
    width: 450px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 0px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 588px;
    bottom: 28px;
}
.info04{
    position: relative;
    height: 180px;
    width: 350px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 0px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 600px;
    bottom: 220px;
}
.info05{
    position: relative;
    height: 150px;
    width: 250px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 0px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 693px;
    bottom: 190px;
}
.info06{
    position: relative;
    height: 180px;
    width: 370px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 0px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 448px;
    bottom: 220px;
}
.item01{
    width: 130px;
}
.item02{
    width: 248px;
}
.item03{
    width: 210px;
}
.item04{
    width: 300px;
}
.item05{
    width: 305px;
}
.item06{
    width: 430px;
}
.item01:hover + .info01{
    display: block;
}
.item02:hover + .info02{
    display: block;
}
.item03:hover + .info03{
    display: block;
}
.item04:hover + .info04{
    display: block;
}
.item05:hover + .info05{
    display: block;
}.item06:hover + .info06{
    display: block;
}
.prin03 a{
    text-decoration: none;
    color: blue;
    display: block;
    padding-bottom: 15px;
}
@media screen and (max-width: 500px) {
    .header{
        position: relative;
        display: none;
    }
    h1{
        display: none;
    }
    main{
        top: 0px;
    }
    .prin01{
        float: none;
    }
    body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    div > h2{
        width: 400px;
        font-size: 20px;
        margin-left: 80px;
        margin-top: 50px;
    }
    span + input{
        background-color: rgba(173, 216, 230, 0.377);
        border-radius: 5px;
        height: 25px;
        width: 300px;
        margin-left: 80px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
        border-width: 0px;
    }
    .prin02{
        top: 260px;
    }
    article{
        width: 420px;
    }
    .prin03{
        top: 550px;
    }
    .info01{
        float: none;
        left: 0px;
        bottom: 10px;
    }
    .info02{
        float: none;
        left: 0px;
        bottom: 10px;
        width: 380px;
    }
}