body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    position: absolute;
    right: 0px;
}
h1{
    font-size: 100px;
    text-align: center;
    color: blue;
    position: relative;
    font-family: fantasy;
    background-color: white;
    height: 120px;
    width: 1341px;
    margin-top: 0px;
    line-height: 120px;
    letter-spacing: 8px;
    top: 90px;
}
main{
    position: relative;
    top: 250px;
}
.first{
    position: relative;
    margin-left: 40px;
    top: 270px;
    font-size: 20px;
    color: rgb(56, 56, 56);
}
.calculadora_salario_liquido{
    background-color: white;
    width: 620px;
    height: 380px;
    padding: 5px 20px 20px 20px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
div > strong{
    color: rgb(45, 45, 255);
    font-size: 15px;
}
.salario_bruto_info:hover+span{
    display: block;
}
.salario_bruto_info{
    width: 115px;
}
.salario_bruto_info+span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 140px;
    width: 200px;
    float: right;
    right: 238px;
    bottom: 20px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.descontos_info:hover+span{
    display: block;
}
.descontos_info{
    width: 93px;
}
.descontos_info + span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 140px;
    width: 220px;
    float: right;
    right: 240px;
    bottom: 20px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.salario_bruto_horas_info{
    width: 115px;
}
.salario_bruto_horas_info + span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 130px;
    width: 200px;
    float: right;
    right: 252px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.salario_bruto_horas_info:hover+span{
    display: block;
}
.quantidade_horas_info{
    width: 344px;
}
.quantidade_horas_info + span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 40px;
    width: 170px;
    float: right;
    right: 54px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.quantidade_horas_info:hover+span{
    display: block;
}
.horas_extras_info{
    width: 185px;
}
.horas_extras_info + span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 60px;
    width: 200px;
    float: right;
    right: 184px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.horas_extras_info:hover+span{
    display: block;
}
.horas_feriados_info{
    width: 282px;
}
.horas_feriados_info + span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 60px;
    width: 200px;
    float: right;
    right: 86px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.horas_feriados_info:hover+span{
    display: block;
}
.horas_extras_noturnas_info{
    width: 192px;
}
.horas_extras_noturnas_info + span{
    position: relative;
    display: block;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 60px;
    width: 200px;
    float: right;
    right: 178px;
    bottom: 22px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.horas_extras_noturnas_info:hover+span{
    display: block;
}
.calculadora_salario_liquido > h2{
    font-size: 20px;
    margin-left: 40px;
}
.calculadora_salario_liquido > div{
    width: 350px;
    height: 30px;
    line-height: 30px;
    margin-left: 50px;
}
.calculadora_salario_liquido > input{
    margin-left: 50px;
    background-color: rgba(173, 216, 230, 0.377);
    height: 50px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-width: 0px;
}
.calculadora_horas_extras{
    background-color: white;
    width: 633px;
    height: 280px;
    position: relative;
    padding: 5px 20px 20px 20px;
    margin-left: 5px;
}
.calculadora_horas_extras > h2{
    font-size: 20px;
    margin-left: 40px;
}
.calculadora_horas_extras > div{
    height: 35px;
    line-height: 35px;
    margin-left: 50px;
}
.calculadora_horas_extras > input{
    margin-left: 50px;
    background-color: rgba(173, 216, 230, 0.377);
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-width: 0px;
}
#calcular_horas{
    width: 160px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    top: 300px;
    margin-left: 120px;
}
#calcular_horas:hover{
    background-color: rgb(0, 0, 140);
}
#referencias{
    display: inline-block;
    background-color: white;
    padding: 15px 0px 0px 50px;
    position: relative;
    margin: 15px;
    border-radius: 10px;
    top: 300px;
    width: 1000px;
    height: 600px;
}
#resultados_salario_liquido{
    top: 650px;
    margin-top: 50px;
    display: none;
}
.resultados_horas_extras{
    margin-top: 50px;
    display: none;
}
article>p{
    font-size: 20px;
}
td{
    height: 40px;
    width: 400px;
    padding-left: 8px;
    outline: solid 1px rgba(173, 216, 230, 0.377);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}
.descricao{
    background-color: rgba(173, 216, 230, 0.377);
    text-align: center;
    outline: solid 2px rgba(173, 216, 230, 0.377);    
}
#calcular_liquido{
    width: 160px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    top: 300px;
    margin-left: 120px;
    margin-top: 20px;
}
#calcular_liquido:hover{
    background-color: rgb(0, 0, 140);
}
#limpar_salario_liquido{
    width: 120px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    top: 300px;
    margin-left: 50px;
}
#limpar_salario_liquido:hover{
    border-width: 1px;
    border-color: black;
}
.info1{
    height: 130px;
    width: 250px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
}
.info2{
    height: 140px;
    width: 600px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
}
.info3{
    height: 100px;
    width: 450px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
}
.info4{
    height: 180px;
    width: 350px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
}
.info5{
    height: 150px;
    width: 250px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
}
.info6{
    height: 230px;
    width: 450px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 15px;
    font-size: 16px;
    display: none;
    padding: 15px;
    text-align: center;
}
.info6 strong{
    font-size: 16px;
    color: white;
}
.referencia1{
    width: 147px;
}
.referencia2{
    width: 272px;
}
.referencia3{
    width: 226px;
}
.referencia4{
    width: 315px;
}
.referencia5{
    width: 321px;
}
.referencia6{
    width: 446px;
}
.referencia1:hover + .info1{
    display: block;
}
.referencia2:hover + .info2{
    display: block;
}
.referencia3:hover + .info3{
    display: block;
}
.referencia4:hover + .info4{
    display: block;
}
.referencia5:hover + .info5{
    display: block;
}
.referencia6:hover + .info6{
    display: block;
}
#referencias a:hover{
    color: white;
    background-color: rgb(155, 155, 155);
}
#referencias a{
    text-decoration: none;
    color: blue;
    display: block;
    padding: 10px;
    border-radius: 10px;
}
/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
@media screen and (max-width: 516px) {
    
}