
body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    position: absolute;
}
h1{
    font-size: 100px;
    text-align: center;
    color: blue;
    position: relative;
    font-family: fantasy;
    background-color: white;
    height: 100px;
    margin-top: 0px;
    line-height: 100px;
    letter-spacing: 8px;
    top: 200px;
}
main{
    position: relative;
    top: 400px;
}
.prin01{
    background-color: white;
    width: 620px;
    height: 380px;
    padding: 5px 20px 20px 20px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
div > strong{
    color: rgb(45, 45, 255);
    font-size: 15px;
}
.st01:hover+span{
    display: block;
}
span{
    position: relative;
    display: none;
    background-color: rgb(70, 70, 255);
    color: white;
    padding: 8px;
    height: 140px;
    width: 200px;
    float: right;
    right: 250px;
    bottom: 20px;
    text-align: center;
    border-radius: 0px 15px 15px 15px;
}
.prin01 > h2{
    font-size: 20px;
    margin-left: 40px;
}
.prin01 > div{
    width: 350px;
    height: 30px;
    line-height: 30px;
    margin-left: 50px;
}
.prin01 > input{
    margin-left: 50px;
    background-color: rgb(209, 209, 255);
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 0px;
}
.prin02{
    background-color: white;
    width: 633px;
    height: 280px;
    padding: 5px 20px 20px 20px;
    margin-left: 5px;
}
.prin02 > h2{
    font-size: 20px;
    margin-left: 40px;
}
.prin02 > div{
    width: 210px;
    height: 35px;
    line-height: 35px;
    margin-left: 50px;
}
.prin02 > input{
    margin-left: 50px;
    background-color: rgb(209, 209, 255);
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 0px;
}
.prin03{
    background-color: white;
    padding: 15px 0px 0px 50px;
    position: relative;
    margin: 15px;
    border-radius: 10px;
    top: 150px;
}
.info01{
    position: relative;
    height: 130px;
    width: 250px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 0px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 870px;
    bottom: 30px;
    
}
.info02{
    position: relative;
    height: 140px;
    width: 600px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 0px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 400px;
    bottom: 30px;
}
.info03{
    position: relative;
    height: 100px;
    width: 450px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 0px 15px 15px 15px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 588px;
    bottom: 28px;
}
.info04{
    position: relative;
    height: 180px;
    width: 350px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 0px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 600px;
    bottom: 220px;
}
.info05{
    position: relative;
    height: 150px;
    width: 250px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 0px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 693px;
    bottom: 190px;
}
.info06{
    position: relative;
    height: 180px;
    width: 370px;
    background-color: rgb(70, 70, 255);
    color: white;
    border-radius: 15px 15px 15px 0px;
    font-size: 15px;
    display: none;
    padding: 10px;
    text-align: center;
    float: right;
    right: 448px;
    bottom: 220px;
}
.item01{
    width: 130px;
}
.item02{
    width: 248px;
}
.item03{
    width: 210px;
}
.item04{
    width: 300px;
}
.item05{
    width: 305px;
}
.item06{
    width: 430px;
}
.item01:hover + .info01{
    display: block;
}
.item02:hover + .info02{
    display: block;
}
.item03:hover + .info03{
    display: block;
}
.item04:hover + .info04{
    display: block;
}
.item05:hover + .info05{
    display: block;
}.item06:hover + .info06{
    display: block;
}
.prin03 a{
    text-decoration: none;
    color: blue;
    display: block;
    padding-bottom: 15px;
}
